.alert{
    position: absolute;
    display: inline-block;
    top: 80px;
    right: 5%;
    z-index: 99999999;
}

.close{
    margin-left: 10px;
}

.table-form-inline {
    display: inline-block;
    height: 8px;
}

.jcrop-keymgr{
    opacity: 0;
}